{% extends 'base.html.twig' %}

{% block title %}about{% endblock %}

{% block body %}

<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="page-title">About us</h1>

            <p>SecureBangla is a blogging site in which you can get all the tech and security related informative blog post.As the number of internet user IOT based
                device are increasing day by day the concern about privacy and security is also emerging.Hopefully This blog site will be of much help to the people of Bangladesh.
            </p>
            &nbsp;&nbsp;
            <p>This is a demo project which is still being developed,This can be said as in the beta phase,We are working on it to make it better </p>


        </article>

        <aside id="sidebar">
            <div class="dark">
                <h3>What we do</h3>
                <p>We develop enterprise level web apps using LAMP,which includes Linux OS,Apache Server,MySQL database and OOP(object oriented PHP) </p>
            </div>
        </aside>
    </div>

</section>

{% endblock %}