
{% extends 'base.html.twig' %}

{% block title %}Authors!{% endblock %}



{% block body %}








        <section id="boxes">
         <div class="flex-container">
    {% for authors in author %}
         <div class="box">
             <img class="authors-image" src="images/asraf.jpg" alt="Dummy Image" style="width: 200px" height="200px" >



            <h3> <a href= "/authors/{{ authors.name }}">{{ authors.name }} </a></h3>

             <p>{{ render(controller(
                     'App\\Controller\\AuthorController::writers_post',{id: authors.id})
                 )}}
             </p>

         </div>
             {% endfor %}

         </div>
        </section>








{% endblock %}














