{% extends 'base.html.twig' %}


     {% block title %}SBN | register{% endblock %}



   {% block body %}


        <div class="container">
            <h1><a href="/register">Register</a></h1>
            <form class="ui form" action="register/submit" method="post" enctype="multipart/form-data">

                <div class="textbox">
                    <input type="email" placeholder="email" name="email" value="" required>
                </div>
                <div class="textbox">
                    <input type="text" placeholder="Username" name="username" value="" required>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Password" name="password" value="" required>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="confirm password" name="confirm" value="" required>
                </div><br>
                <button class="ui button" type="submit">Register</button>

            </form><br>

            <h3>Already registered???   <a href="/login">Login</a></h3>

        </div>


{% endblock %}