{% extends 'base.html.twig' %}
{% block html %}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable the networking site">
    <meta name="keywords" content="networking, bangla, queries, it, blogs">
    <meta name="author" content="Ashraf Bin Sahadat">

    <title>{% block title %}SNN Networks || Welcome {% endblock %}</title>


</head>

{% block body %}

<section id="showcase">
    <div class="container">

        <h1>reliable and safe for your security concern</h1>
        <p>"If you reveal your secrets to the wind, you should not blame the wind for revealing them to the trees."-Kahlil Gibran</p>

    </div>
</section>

<section id="newsletter">
    <div class="container">
        <h1>Subscribe to get our newsletter</h1>
        <form>
            <input type="email" placeholder="Enter your valid Email...">
            <button type="submit" class="button_1">Subscribe</button>
        </form>
    </div>
</section>


<section id="boxes">
    <div class="flex-container">
        {% for post in all|slice(0,6) %}

        <div class="box">


                <img src="{{ vich_uploader_asset(post, 'imageFile')}}" alt="NO Image" style="width:100px;height:100px;"/>
                <h3><a href="/blog/{{ post.title}}">{{ post.title }}</a></h3>

        </div>
        {% endfor %}

    </div>
</section>

{% endblock %}

</body>
</html>

{% endblock %}
