{% block body %}


    <div class="error-container">

        <h1>Sad!!!</h1>
        <h2>OOPS! Sorry ,currently we don't allow no more than 10 authors <a href="/" ><b>homepage</b></a></h2>

        <img src="{{ asset('/assets/images/sad.jpg') }}" width="20%" alt="Error">

    </div>


{% endblock %}