{% extends 'base.html.twig' %}


    {% block title %}SBN | Login{% endblock %}


{% block body %}
<div class="container">
    <h1><a href="/login">Login</a></h1>

    <form class="ui form" action="login/submit" method="post">
    <div class="textbox">
        <input type="email" placeholder="email" name="email" value="" required>
    </div>
    <div class="textbox">
        <input type="password" placeholder="password" name="password" value="" required>
    </div><br>
        <button class="ui button" type="submit">Log IN</button>

    </form> <br>



    <h3>New Here???   <a href="/register">Register</a></h3>



</div>



{% endblock %}


