{% extends 'base.html.twig' %}

{% block title %}All post{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Matched Result ✅</h1>


        <ul>
            {% if posts==null %}
            <p>NO result found</p>
            {% else %}
            {% for post in posts %}
                <li><a href="/blog/{{ post.title }}"> title is --> {{ post.title }}</a> </li>
                </br>
            {% endfor %}
            {% endif %}
        </ul>

        <a href="/">Home</a>
    </div>
{% endblock %}