{% extends 'base.html.twig' %}

{% block title %}All post{% endblock %}



     {% block body %}

            <section id="boxes">
                <div class="flex-container">
                    {% for post in all %}
                    <div class="box">

                                <img src="{{ vich_uploader_asset(post, 'imageFile')}}" alt="NO Image" style="width:100px;height:100px;"/>
                                <h3><a href="/blog/{{ post.title}}">{{ post.title }}</a></h3>
                                <p>{{ post.article }}</p>

                            </div>
                        {% endfor %}



            </div>
            </section>



                {% endblock %}
