
{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}
{% block body %}
<section id="post_box">
    <div class="container">

            <form class="ui form" action="submit_post" method="post" enctype="multipart/form-data">

            <br>
            <br>
            <br>
            <input type="text" placeholder="Title" required name="title"><br>
            <input type="text" placeholder="Author" required name="authors"><br>
            <textarea name="article" placeholder="write article here..." rows="10" required name="article"></textarea><br>

            <input type="file" name="imageFile" accept="image/*">


            <button class="ui button" type="submit">Submit Article</button>



        </form>
    </div>

</section>



{% endblock %}

